* {
    @include margin-reset;
}

/* Cuerpo de Pagina*/
body {
    background-image: url(https://images3.alphacoders.com/194/thumb-1920-194225.jpg);
}

/* Encabezado en sus diferentes Responsive*/

header {
    height: 80px;
    padding: 5px;
    background-image: linear-gradient(276deg, #71C4FFFF 0%, #A100FFFF 100%);
    position: static;

    /* Padre navegacion*/
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .index {
            font-family: sans-serif cursive;
            font-size: 40px;
            font-weight: 400;
            padding-left: 15px;
            cursor: pointer;
            font-stretch: 50%;
            display: flex;
            text-decoration: none;
            color: $color-primario;
            margin: 0px 10px;
            background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%), repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%), radial-gradient(99% 99% at 109% 2%, #00C9FFFF 0%, #073AFF00 100%), radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #073AFF00 100%), radial-gradient(160% 154% at 711px -303px, #073AFFFF 12%, #7B00FFFF 94%);
            ;

            a {
                text-decoration: none;
                font-size: 40px;
                font-family: fantasy;
                font-weight: 600px;
                color: black;
                background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%), repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%), radial-gradient(99% 99% at 109% 2%, #00C9FFFF 0%, #073AFF00 100%), radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #073AFF00 100%), radial-gradient(160% 154% at 711px -303px, #073AFFFF 12%, #7B00FFFF 94%);
                ;
            }
        }
    }
}

/* Frase de encabezado de Einstein*/
.titulo-1{
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-family: fantasy;
    font-weight: lighter;
    color: black;
    background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%), repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%), radial-gradient(99% 99% at 109% 2%, #00C9FFFF 0%, #073AFF00 100%), radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #073AFF00 100%), radial-gradient(160% 154% at 711px -303px, #073AFFFF 12%, #7B00FFFF 94%);
}




/*Seccion de Frases de Einstein con su imagen*/
.frases {
    @include flex-direction-row-center;
    padding-top: 50px;
    flex-wrap: wrap;
}

/* Imagen de Einstein*/
.imagen img {
    width: 400px;
    height: 220px;
    transition-duration: 2s;
    transition-timing-function: linear;
    opacity: 0.5;
    justify-items: center;

}

/*Elementos de link de Href*/
.menu-index a {
    text-decoration: none;
    color: whitesmoke;
}

/* Parrafo de la seccion de descripcion*/
.descripcion {
    p {
        @extend %parrafoyspan;

        /* Span de la seccion de Descripcion*/
        span {
            @extend %parrafoyspan;
        }
    }
}




/* Span de la seccion de Descripcion*/
.descripcion span {
    @extend %parrafoyspan;
}

/* Hover de Algunos Elementos*/

.menu-index li:hover {
    background-image: linear-gradient(90deg, #A100FFFF 0%, #313372FF 50%);
    transform: translate3d(10px, 15px, -5px);
}

.imagen img:hover {
    transform: rotateY(45deg) rotateX(45deg);
    opacity: 1;

}

.frases p:hover {
    color: skyblue;
}

.span-mundo:hover {
    background: blue;
}

footer p {
    margin-top: 150px;
    font-size: 30px;
    font-family: fantasy;
    margin-bottom: 50px;
    text-align: center;
}

/* MEDIA QUERY DE INDEX:HTML*/
@media screen and (max-width:$pantallas-grandes) {
    header {
        position: static;
        height: 100px;
    }
}

@media screen and (max-width:772px) {

    .menu-index ul {
        display: inline-flex;
        justify-items: center;
        margin-top: 20px;
    }
}

@media screen and (max-width:$pantallas-medianas) {
    .header {
        height: 175px;

        .menu-index li {
            margin-left: 70px;
            position: relative;


        }
    }
}



@media screen and (max-width: 767px) {
    .descripcion {
        @include flex-direction-column-center;
        flex-wrap: wrap;
        text-align: center;
    }
}

@media screen and (max-width:705px) {
    .menu-index ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

    }
}




@media screen and (max-width:$pantallas-pequenas) {
    .header {
        .menu-index li {
            margin-left: 5px;
        }
    }

}