/* ------------------seccion de registrate------------*/

/* Elementos li de la lista*/

.menu-index-registrate {
    li {
        display: flex;
        flex-direction: column;
        border: 2px solid$color-primario;
        padding: 8px;
        margin: 10px;
        text-align: center;

        /* Elementos Href de los li*/
        a {
            color: $color-primario;
            text-decoration: none;


            /* Iconos de la lista*/
            span {
                margin-right: 8px;
            }
        }
    }
}




/* titulo principal de la pagina*/
.titulo {
    text-align: center;
    color: $color-primario;
    margin: 20px 0;
}






/*Contenedor de los formularios*/
.padre-formulario {
    display: flex;
    justify-content: center;
}

/*Comienzo de formularios*/
.formulario-1 {
    @include flex-direction-column-center-align-items;
    margin-bottom: 10px;

    .nombre,
    .apellido,
    .contraseña,
    .email {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        color: $color-primario;
        text-align: center;
    }
}



.formulario-2 {
    @include flex-direction-column-center-align-items;
    margin-bottom: 40px;
    color: $color-primario;

    .gustos,
    .gustos-1 {
        display: flex;
        flex-direction: column;
        margin: 0 10px;



    }
}

.gustos,
.gustos-1 {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.gustos input,
.gustos-1 input {
    margin-bottom: 10px;
}

label {
    border: 1px solid $color-primario-2;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

.formulario-3 {
    display: grid;
    color: $color-primario;
    grid-template-columns: 1fr;
    place-items: center;
    grid-template-rows: 5px 20px 20px;
    grid-row-gap: 10px;
    margin-bottom: 50px;

}

.formulario-4 {
    color: $color-primario-2;
    display: grid;
    grid-row-gap: 10px;
    place-items: center;

    .seleccion,
    .fechas {
        margin: 20px 20px;
        display: flex;
        flex-direction: column;

    }


}



/*Final de formularios*/
/*Botones del Formulario*/
.botones {
    display: flex;
    flex-direction: column;

    .botones-1 {
        color: $color-primario;
        background-color: transparent;
        border: $color-primario-2;
        box-shadow: 1px 2px 2px $color-primario-2;
        border: 2px solid $color-primario-2;
        padding: 5px 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

}

.botones-2 {
    box-shadow: 18px 17px 40px 8px rgba(8, 8, 10, 1), 18px 17px 40px 8px rgba(8, 8, 10, 1) 18px 17px 40px 8px rgba(8, 8, 10, 1);
    background: #2E64FE;
    color: black;
    padding: 5px 20px;
    margin: 20px 0px;
}

@media screen and (max-width:1440px) {
    .navegacion {
        justify-content: center;
    }
}


/* Medias querys de Seccion Registrate*/
@media screen and (min-width: $pantallas-grandes) {

    .menu-index-registrate ul {
        @include flex-direction-row-center;
        align-items: center;
        margin-bottom: 40px;

        li {

            margin-left: 30px;
        }
    }


}

@media screen and (max-width: $pantallas-medianas) {
    .titulo {
        color: black;
        background-color: Yellow;
    }

    .menu-index-registrate ul {
        @include flex-direction-row-center;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 591px) {

    .titulo {
        color: black;
        background-color: $color-primario-2;
    }

    .menu-index-registrate ul {
        @include flex-direction-column-center-align-items;
        margin-bottom: 40px;
    }
}