/* Aca van las variables que son las caracteristicas repetitivas de mi sitio web ( como colores y etc*/
$color-primario:whitesmoke;
$color-primario-2: white;
$color-primario-3:ghostwhite;


/* Variables para medidas de mediaquery*/
$pantallas-grandes:1220px;
$pantallas-medianas:768px;
$pantallas-pequenas:425px;
