/* Aca van las variables que son las caracteristicas repetitivas de mi sitio web ( como colores y etc*/
$color-primario: whitesmoke;
$color-primario-2: white;
$color-primario-3: ghostwhite;


/* Variables para medidas de mediaquery*/
$pantallas-grandes: 1220px;
$pantallas-medianas: 768px;
$pantallas-pequenas: 425px;


/*MIXINS DE LA PAGINA*/

@mixin margin-reset {
    margin: 0;
    padding: 0;
}

@mixin flex-direction-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-direction-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
@mixin flex-direction-column-center-align-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@mixin parrafos-acerca-de{
    text-align: center;
        font-size: 20px;
        font-weight: bolder;
        color: $color-primario-2;
        padding-top: 20px;
        border: 1px solid $color-primario;
        margin: 30px 90px;
}
@mixin h2-acerca-de{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* EXTENDS*/
%parrafoyspan{
    text-align: center;
    margin-top: 50px;
        font-size: 40px;
        font-family: fantasy;
        font-weight: 600px;
        margin-bottom: 50px;
        background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%), repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%), radial-gradient(99% 99% at 109% 2%, #00C9FFFF 0%, #073AFF00 100%), radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #073AFF00 100%), radial-gradient(160% 154% at 711px -303px, #073AFFFF 12%, #7B00FFFF 94%);
}
@mixin img{
    width: 250px;
    height: 250px;
}
@mixin titulo{
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-family: fantasy;
    font-weight: lighter;
    color: black;
    background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%), repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%), radial-gradient(99% 99% at 109% 2%, #00C9FFFF 0%, #073AFF00 100%), radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #073AFF00 100%), radial-gradient(160% 154% at 711px -303px, #073AFFFF 12%, #7B00FFFF 94%);
}
